.collection-item {
  width: 21vw;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;

  .image {
    border-radius: 25px;
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .custom-button {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 255px;
    // display: none;
  }

  &:hover {
    .image {
      // opacity: 0.8;
      box-shadow: 3px 3px 5px 6px #ccc;
    }

    .custom-button {
      opacity: 0.85;
      display: flex;
    }
    .custom-button {
      box-shadow: 3px 3px 5px 6px #ccc;
    }
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      padding-left: 10%;
      width: 80%;
      margin-bottom: 15px;
    }

    .price {
      width: 20%;
    }
  }
}
